.bulkUpload .ss-uploadfield-item-name b:after {
	content: ":";
}
.bulkManagerOptions,
div.colymba-bulkupload-buttons button#action_Cancel.bulkUploadCancelButton,
.bulkUpload .component div.ss-uploadfield .ss-uploadfield-files .ss-uploadfield-item .ss-uploadfield-item-info .ss-uploadfield-item-name .size {
	display: none !important;
}


.bulkEditingFieldHolder h4 a {
	text-decoration: none !important;
}

.bulkEditingFieldHolder .ui-accordion-content {
	display: block !important;
}

.bulkEditingFieldHolder .ui-accordion-content .field {
	border-bottom: 0px;
}

#Form_BulkEditingForm .bulkEditToggle {
	display: none !important;
}